BCP 101 is a concatenation

BCP 101 is a concatenation of several docs, which is super confusing IMO. 

At root it is RFC 4071 - Structure of the IETF Administrative Support Activity (IASA). 

But RFC 4071 is also updated by RFC 4371 - BCP 101 Update for IPR Trust
and
RFC 7691 - Updating the Term Dates of IETF Administrative Oversight Committee (IAOC) Members

References:
https://tools.ietf.org/html/bcp101
https://tools.ietf.org/html/rfc4071
https://tools.ietf.org/html/rfc4371
https://tools.ietf.org/html/rfc7691

I think RFC 7691 is easily handled, because IAOC goes away, so structure needs to have an OBSOLETES statement for 7691.

I think RFC 4371 is also handled, because of Jari's update of the Trust document at https://datatracker.ietf.org/doc/draft-ietf-iasa2-trust-update/. 

So I think we need a statement as well that probably says that structure OBSOLETES 4371 **or** we don't have a statement in the header on 4371 since Jari's Trust doc will update/obsolete 4371.

ACTION: Ask Jari if the trust update needs to obsolete 4371 rather than update it. Not sure.

I'm going to go with having Jari's obsolete 4371... will leave this open.

We should ping Jari on this. The latest version of his trust draft updates 4371 and this 4071bis draft says (in the text, not in the document metadata) that it "replaces" 4371. I'm going to change the text to say that it obsoletes 4071 and then leave a marker for this issue... I don't think we can obsolete 4371 with a 4071bis, right? I mean that would require more text and Jari should just do that in his draft.

Correct!

From: Joseph Lorenzo Hall <notifications@github.com>
Reply-To: IASA2/draft-ietf-iasa2-struct <reply@reply.github.com>
Date: Wednesday, November 21, 2018 at 4:04 PM
To: IASA2/draft-ietf-iasa2-struct <draft-ietf-iasa2-struct@noreply.github.com>
Cc: "Livingood, Jason" <Jason_Livingood@cable.comcast.com>, Author <author@noreply.github.com>
Subject: Re: [IASA2/draft-ietf-iasa2-struct] BCP 101 is a concatenation (#10)


We should ping Jari on this. The latest version of his trust draft updates 4371 and this 4071bis draft says (in the text, not in the document metadata) that it "replaces" 4371. I'm going to change the text to say that it obsoletes 4071 and then leave a marker for this issue... I don't think we can obsolete 4371 with a 4071bis, right? I mean that would require more text and Jari should just do that in his draft.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/IASA2/draft-ietf-iasa2-struct/issues/10#issuecomment-440807851>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AIkZHaQPQjcpjKnpdUZTd6mZbGgFKH6Hks5uxb_1gaJpZM4Xhd3D>.


this is fixed by the header